            <div class="site-footer">
                <div class="container">
                    <div class="site-footer-top">
                        <a href="index.html" class="logo"><img src="img/svg/logo-white.svg" alt=""></a>
                        <ul class="menu">
                            <li><a href="catalog.html">Каталог франшиз</a></li>
                            <li><a href="create.html">Создать франшизу</a></li>
                            <li><a href="faq.html">Вопрос-ответ</a></li>
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary buy-fr" data-toggle="modal" data-target="#sell">Продать франшизу</a>
                    </div>
                    <div class="site-footer-bottom">
                        <ul class="contact-info">
                            <li class="address">г. Минск, пр. Победителей, 7а, 27 этаж, офис 74-2</li>
                            <li class="email"><a href="mailto:info@zavod.biz">info@zavod.biz</a></li>
                        </ul>
                        <ul class="contact-info">
                            <li class="tel bel"><a href="tel:+375(17)235-72-70">+375 (17) 235-72-70</a></li>
                            <li class="phone"><a href="tel:+375(29)620-82-67">+375 (29) 620-82-67</a></li>
                            <li><a href="tel:+375(29)620-82-10">+375 (29) 620-82-10</a></li>
                            <li class="rus"><a href="tel:+7(920)750-51-91">+7 (920) 750-51-91</a></li>
                        </ul>
                        <div class="right">
                            <ul class="social">
                                <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
                                <li><a href="#"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
                                <li><a href="#"><svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg></a></li>
                                <li><a href="#"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a></li>
                            </ul>
                            <div class="search-block">
                                <input type="text" class="search-input transparent" placeholder="Поиск по сайту">
                            </div>
                        </div>
                        <div class="copyright"> ООО “Завод франшиз”, 2017</div>
                    </div>
                </div>
            </div>