            <header class="site-header">
                <div class="site-header-top">
                    <div class="container">
                        <ul>
                            <li class="address"><svg class="icon icon-address"><use xlink:href="#icon-address"></use></svg> <span>г. Минск, пр. Победителей, 7а, 27 этаж, офис 74-2</span></li>
                            <li class="phone"><a href="tel:+375(29)620-82-10" class="bel"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg> +375 (29) 620-82-10</a></li>
                            <li class="phone"><a href="tel:+7(920)750-51-91" class="rus">+7 (920) 750-51-91</a></li>
                        </ul>
                    </div>
                </div>
                <div class="site-header-bottom">
                    <div class="container">
                        <button class="icon icon-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="logo"><img src="img/svg/logo.svg" alt=""></a>
                        <ul class="menu">
                            <li><a href="catalog.html">Каталог франшиз</a></li>
                            <li><a href="create.html">Создать франшизу</a></li>
                            <li><a href="faq.html">Вопрос-ответ</a></li>
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <a href="#" data-toggle="modal" data-target="#favorites" class="favorites-icon"></a>
                        <div class="links">
                            <a href="catalog.html" class="btn btn-primary">Каталог франшиз</a>
                            <a href="create.html" class="btn btn-primary">Создать франшизу</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu">
                <button class="icon icon-close close-mobile-menu"></button>
                <div class="search-block">
                    <input type="text" class="search-input" placeholder="Поиск по сайту">
                </div>
                <ul class="nav">
                    <li class="has-childs">
                        <a href="catalog.html">Каталог франшиз</a>
                        <ul class="submenu">
                            <li><a href="#">Питание</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Торговля</a></li>
                            <li><a href="#">Кофейни</a></li>
                            <li><a href="#">Образование</a></li>
                        </ul>
                    </li>
                    <li><a href="create.html">Создать франшизу</a></li>
                    <li><a href="faq.html">Вопрос-ответ</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul class="contacts-ul">
                    <li class="address"><span>г. Минск, пр. Победителей, 7а, 27 этаж, офис 74-2</span></li>
                    <li class="phone"><a href="tel:+375(29)620-82-10" class="bel">+375 (29) 620-82-10</a></li>
                    <li class="phone"><a href="tel:+7(920)750-51-91" class="rus">+7 (920) 750-51-91</a></li>
                </ul>
            </div>